In [1]:
"""
TO-DO : Clean the datasets
Unclean datasets present in Unclean folder
Reshape all the datasets to the following format ["ID" "Statement" "Rating"]
    Statement : Includes the full body text of the news in English
    Rating : True:1 False:0
Clean datasets to be put in clean folder
Join all the datasets together for master set :)

"""

'\nTO-DO : Clean the datasets\nUnclean datasets present in Unclean folder\nReshape all the datasets to the following format ["ID" "Statement" "Rating"]\n    Statement : Includes the full body text of the news in English\n    Rating : True:1 False:0\nClean datasets to be put in clean folder\nJoin all the datasets together for master set :)\n\n'

In [2]:
import pandas as pd

In [3]:
#reading all the datasets from politifact
pol_dev=pd.read_csv('unclean datasets/pol_dev.csv')
pol_train=pd.read_csv('unclean datasets/pol_train.csv')
pol_test=pd.read_csv('unclean datasets/pol_test.csv')

print("Dev set size: ",pol_dev.Statement.size)
print(pol_dev.columns)
print("Train set size: ",pol_train.Statement.size)
print(pol_train.columns)
print("Test set size: ",pol_test.Statement.size)
print(pol_test.columns)

Dev set size:  712
Index(['Speaker', 'Statement', 'Rating'], dtype='object')
Train set size:  2576
Index(['Speaker', 'Statement', 'Rating'], dtype='object')
Test set size:  1075
Index(['Speaker', 'Statement', 'Rating'], dtype='object')

In [4]:
#For Politifact : Drop column speaker and Change the Ratings from [0:True to 5:Pants on fire] to [1:true 0:false]

pol_dev=pol_dev.drop(columns=['Speaker'])
pol_train=pol_train.drop(columns=['Speaker'])
pol_test=pol_test.drop(columns=['Speaker'])

print(pol_dev.columns)
print(pol_train.columns)
print(pol_test.columns)

Index(['Statement', 'Rating'], dtype='object')
Index(['Statement', 'Rating'], dtype='object')
Index(['Statement', 'Rating'], dtype='object')

In [5]:
#Former Ratings [ 0:True 1:Mostly True 2:Half True 3:Half false 4:Mostly false 5:False]
#Actual Ratings [0,1,2 = 1 and 3,4,5 = 0]\

def pol_ratechange(x):
    h=0
    for i in x.Rating:
        if i==0 or i==1 or i==2:
            x.at[h,'Rating']= 1
            h=h+1
        else:
            x.at[h,'Rating']= 0
            h=h+1

In [6]:
print(pol_dev.head(10))
pol_ratechange(pol_dev)
pol_dev.head(10)

                                           Statement  Rating
0  (President) Reagan's second inaugural was move...       1
1  For what we spend in just one week in Iraq, 80...       1
2  The non-partisan Congressional Budget Office c...       3
3  13,000 Floridians are able to vote -- but thei...       4
4  Mike Dovillas big ideas like expanding the Ohi...       2
5  Tourism accounts for 439,000 jobs in the state...       0
6  Even after Obamacare is fully implemented, the...       0
7  Fox News airs Stuart Scott R.I.P. tribute with...       5
8  It has been many years, if ever, since an inma...       1
9  [T]he Georgia Dome has returned $10 billion in...       4

                                           Statement  Rating
0  (President) Reagan's second inaugural was move...       1
1  For what we spend in just one week in Iraq, 80...       1
2  The non-partisan Congressional Budget Office c...       0
3  13,000 Floridians are able to vote -- but thei...       0
4  Mike Dovillas big ideas like expanding the Ohi...       1
5  Tourism accounts for 439,000 jobs in the state...       1
6  Even after Obamacare is fully implemented, the...       1
7  Fox News airs Stuart Scott R.I.P. tribute with...       0
8  It has been many years, if ever, since an inma...       1
9  [T]he Georgia Dome has returned $10 billion in...       0

In [7]:
print(pol_train.head(10))
pol_ratechange(pol_train)
pol_train.head(10)

                                           Statement  Rating
0  More people are driving under the influence of...       2
1  The American people will be appalled to learn ...       1
2  Medicare has at least $80 billion worth of fra...       2
3  In 2010, everybody said you can't dare let gun...       4
4  The government's twice the size it was 10 year...       2
5  One in 19 Americans today get SSDI or SSI. Tha...       1
6  Under the Obama plan . . . all the health care...       4
7  Texas ranks 49th in per-pupil funding among th...       1
8  Seventy-four percent of Rhode Islanders suppor...       2
9  You worked hard for your money and you paid yo...       2

                                           Statement  Rating
0  More people are driving under the influence of...       1
1  The American people will be appalled to learn ...       1
2  Medicare has at least $80 billion worth of fra...       1
3  In 2010, everybody said you can't dare let gun...       0
4  The government's twice the size it was 10 year...       1
5  One in 19 Americans today get SSDI or SSI. Tha...       1
6  Under the Obama plan . . . all the health care...       0
7  Texas ranks 49th in per-pupil funding among th...       1
8  Seventy-four percent of Rhode Islanders suppor...       1
9  You worked hard for your money and you paid yo...       1

In [8]:
print(pol_test.head(10))
pol_ratechange(pol_test)
pol_test.head(10)

                                           Statement  Rating
0  About 47 percent of able-bodied people in the ...       5
1  Almost 88,000 United States service members ar...       1
2  Crimea became part of Ukraine only in 1954. Cr...       0
3  some [states] with the largest reductions in c...       0
4  Every major city which has a center of poverty...       3
5     You cant put a gun rack in a [Chevrolet] Volt.       4
6  (Obamacare) is a bill which has never once had...       1
7  On the day of the New Hampshire primary in 198...       1
8  I balanced the budget for four straight years,...       4
9  Gangs have increased by 40 percent since this ...       2

                                           Statement  Rating
0  About 47 percent of able-bodied people in the ...       0
1  Almost 88,000 United States service members ar...       1
2  Crimea became part of Ukraine only in 1954. Cr...       1
3  some [states] with the largest reductions in c...       1
4  Every major city which has a center of poverty...       0
5     You cant put a gun rack in a [Chevrolet] Volt.       0
6  (Obamacare) is a bill which has never once had...       1
7  On the day of the New Hampshire primary in 198...       1
8  I balanced the budget for four straight years,...       0
9  Gangs have increased by 40 percent since this ...       1

In [9]:
#checking the politifact data

print(pol_dev.tail(5))
print(pol_dev.Rating .size)
print(pol_train.tail(5))
print(pol_train.Rating .size)
print(pol_test.tail(5))
print(pol_test.Rating .size)

                                             Statement  Rating
707  For every $1 spent on mitigation, $4 in post-s...       1
708  Portland Schools spend $500K to deem PB&J sand...       0
709  The substitute budget now adds in tax breaks a...       1
710  There is nothing in the current state public r...       1
711  We've had 27 (Ebola) outbreaks around the glob...       1
712
                                              Statement  Rating
2571  Of all the illegals in America, more than half...       0
2572  We have drawn down to presurge levels. Basra, ...       0
2573  Obama, Biden and their liberal allies oppose c...       0
2574  The failings in our civil service are encourag...       1
2575  Senator Obama thinks we can achieve energy ind...       1
2576
                                              Statement  Rating
1070  Two-thirds of Wisconsin corporations don't pay...       1
1071  Of the 25 wealthiest nations, we're the only o...       1
1072  Minnesota is kicking butt relative to Wisconsi...       1
1073  What is the maximum number of students allowed...       1
1074  We had people that were getting killed (in Ben...       0
1075

In [10]:
#writing clean politifact in clean folder

pol_dev.to_csv('clean datasets/pol_dev_clean.csv',index=False)
pol_train.to_csv('clean datasets/pol_train_clean.csv',index=False)
pol_test.to_csv('clean datasets/pol_test_clean.csv',index=False)

#POl is done :)

In [11]:
#onto reading Newsfiles

nf_train=pd.read_csv('unclean datasets/nf_train.csv')
nf_test=pd.read_csv('unclean datasets/nf_test.csv')

#renaming columns so easier joining
print(nf_train.columns)
nf_train=nf_train.rename(columns={"label": "Rating", "text": "Statement"})
nf_test=nf_test.rename(columns={"label": "Rating", "text": "Statement"})
print(nf_train.columns)
print(nf_train.Statement.size)
print(nf_test.Statement.size)

Index(['label', 'text'], dtype='object')
Index(['Rating', 'Statement'], dtype='object')
48853
2999

In [12]:
#Ratings are as follows 1:"Satire",2:"Hoax",3:"Propaganda",4:"Trusted"
#Change Hoax to False(0) and Trusted to True(1) and remove Satire and Propaganda

def nf_ratechange(x):
    h=0
    for i in x.Rating:
        if i==2:
            x.at[h,'Rating']= 0
            
        elif i==4:
            x.at[h,'Rating']= 1
            
        elif i==1 or i==3:
            x.drop([h],inplace=True)
        h=h+1

In [13]:
#For testing dataset
print(nf_test.head(10))
print(nf_test.Rating.size)
nf_ratechange(nf_test)
print(nf_test.Rating.size)
nf_test.head(10)

   Rating                                          Statement
0       1   In what football insiders are calling an unex...
1       1  In a freak accident following Game 3 of the N....
2       1  North Koreas official news agency announced to...
3       1  The former Alaska Governor Sarah Palin would b...
4       1  With the first Presidential debate just two da...
5       1  There are fans, and then there are super-fans....
6       1  With its landmark decisions this week, the Uni...
7       1  Koch Industries is defending its acquisition o...
8       1  Republican lawmakers asked increasingly tough ...
9       1   In a poll taken on Tuesday night, a wide majo...
2999
1500

     Rating                                          Statement
749       0  Ferguson Protesters Take Advantage Of Cop-Invo...
750       0  Vote Rigging Is Real And Practically Undetecta...
751       0  Judge Napolitano Weighs In On How The Democrat...
752       0  Missing Babys Body Found In Dumpster The suspe...
753       0  Allen West Credits Obama - Made One Of The Dum...
754       0  Petitions Protestors Didnt Stop Maher From Spe...
755       0  Freed Slaves In Washington? Dont Blame Us We W...
756       0  Expect Electronic Machines To Be Hacked, Be Pr...
757       0  The Donald Responds To Lyin Ted Cruz Accusatio...
758       0  Michele Bachmann - Johnson, Obama Want To Stea...

In [14]:
#for training dataset

print(nf_train.head(10))
print(nf_train.Rating.size)
nf_ratechange(nf_train)
print(nf_train.Rating.size)
nf_train.head(10)

   Rating                                          Statement
0       1  The writers of the HBO series The Sopranos too...
1       1  Despite claims from the TV news outlet to offe...
2       1  After receiving 'subpar' service and experienc...
3       1  After watching his beloved Seattle Mariners pr...
4       1  At a cafeteria-table press conference Monday, ...
5       1  Stunned shock and dismay were just a few of th...
6       1  Speaking with reporters before a game Monday, ...
7       1  Sports journalists and television crews were p...
8       1  SALEM, VAF;or the eighth straight world-histor...
9       1  Marveling at his extraordinary proficiency in ...
48853
16937

       Rating                                          Statement
14046       0  Ralph Peters Is Suspended By Fox News After Ve...
14047       0  Michelle Obama Picks A Fight With Donald, He F...
14048       0  Analyst Observes Something VERY Off About Trum...
14049       0  Marine Completely DESTROYS Michelle Obama To H...
14050       0  Youll Never Believe The Excuse This Mother Gav...
14051       0  MLKs Niece Takes Goes Up Against All Odds, Tak...
14052       0  Caitlyn Jenner Honored As Woman Of The Year Ju...
14053       0  BREAKING: New Years Suicide Bomber Terror Ensu...
14054       0  Congress Comes Crashing Down After Obama Accid...
14055       0  Vets Line Up And Salute, Look Who Walks In Beh...

In [15]:
print("new size of nf_test : ",nf_test.Rating.size)
print("new size of nf_train : ",nf_train.Rating.size)

new size of nf_test :  1500
new size of nf_train :  16937

In [16]:
#writing clean Nf datasets to the clean folder

nf_test.to_csv('clean datasets/nf_test_clean.csv',index=False)
nf_train.to_csv('clean datasets/nf_train_clean.csv',index=False)

# done and dusted

In [17]:
#unto the LIAR dataset
#reading the said dataset 

liar_dev=pd.read_csv('unclean datasets/liar_dev.csv')
liar_train=pd.read_csv('unclean datasets/liar_train.csv')
liar_test=pd.read_csv('unclean datasets/liar_test.csv')

print(liar_dev.size)
print(liar_train.size)
print(liar_test.size)

print(liar_dev.columns)

17962
140098
17136
Index(['ID', 'label', 'statement', 'subject', 'speaker', 'speaker job',
       'stateinfo', 'party', 'ch1', 'ch2', 'ch3', 'ch4', 'ch5', 'ch6'],
      dtype='object')

In [18]:
#so many columns must me removed  :/

liar_dev=liar_dev.drop(columns=['ID', 'subject', 'speaker', 'speaker job',
       'stateinfo', 'party', 'ch1', 'ch2', 'ch3', 'ch4', 'ch5', 'ch6'])
liar_train=liar_train.drop(columns=['ID', 'subject', 'speaker', 'speaker job',
       'stateinfo', 'party', 'ch1', 'ch2', 'ch3', 'ch4', 'ch5', 'ch6'])
liar_test=liar_test.drop(columns=['ID', 'subject', 'speaker', 'speaker job',
       'stateinfo', 'party', 'ch1', 'ch2', 'ch3', 'ch4', 'ch5', 'ch6'])

print(liar_dev.columns,liar_test.columns,liar_train.columns)

Index(['label', 'statement'], dtype='object') Index(['label', 'statement'], dtype='object') Index(['label', 'statement'], dtype='object')

In [19]:
#renaming the columns for consistency

liar_train=liar_train.rename(columns={"label": "Rating", "statement": "Statement"})
liar_test=liar_test.rename(columns={"label": "Rating", "statement": "Statement"})
liar_dev=liar_dev.rename(columns={"label": "Rating", "statement": "Statement"})

print(liar_dev.columns,liar_test.columns,liar_train.columns)

Index(['Rating', 'Statement'], dtype='object') Index(['Rating', 'Statement'], dtype='object') Index(['Rating', 'Statement'], dtype='object')

In [20]:
# rating here ranges from true to pants-fire which must be changed to the designated True-false(1-0)
from random import seed
seed(1010)
from random import randint
def liar_ratechange(x):
    h=0
    for i in x.Rating:
        if i=="true" or i=="barely-true":
            x.at[h,'Rating']= 1
            h=h+1
        elif i=="half-true": #50 percent chance for half truth
            r=randint(1,10)
            if(r<=5):
                x.at[h,'Rating']= 1
            else:
                x.at[h,'Rating']= 0
            h=h+1
        else:
            x.at[h,'Rating']= 0
            h=h+1

In [21]:
print(liar_dev.tail())
liar_ratechange(liar_dev)
print(liar_dev.tail())

           Rating                                          Statement
1278    half-true  For the first time in more than a decade, impo...
1279  mostly-true  Says Donald Trump has bankrupted his companies...
1280         true  John McCain and George Bush have "absolutely n...
1281        false  A new poll shows 62 percent support the presid...
1282  barely-true  No one claims the report vindicating New Jerse...
     Rating                                          Statement
1278      1  For the first time in more than a decade, impo...
1279      0  Says Donald Trump has bankrupted his companies...
1280      1  John McCain and George Bush have "absolutely n...
1281      0  A new poll shows 62 percent support the presid...
1282      1  No one claims the report vindicating New Jerse...

In [22]:
print(liar_test.head())
liar_ratechange(liar_test)
print(liar_test.head())

       Rating                                          Statement
0       false  Wisconsin is on pace to double the number of l...
1       false  Says John McCain has done nothing to help the ...
2   half-true  Suzanne Bonamici supports a plan that will cut...
3  pants-fire  When asked by a reporter whether hes at the ce...
4        true  Over the past five years the federal governmen...
  Rating                                          Statement
0      0  Wisconsin is on pace to double the number of l...
1      0  Says John McCain has done nothing to help the ...
2      0  Suzanne Bonamici supports a plan that will cut...
3      0  When asked by a reporter whether hes at the ce...
4      1  Over the past five years the federal governmen...

In [23]:
print(liar_train.head())
liar_ratechange(liar_train)
print(liar_train.head())

        Rating                                          Statement
0    half-true  When did the decline of coal start? It started...
1  mostly-true  Hillary Clinton agrees with John McCain "by vo...
2        false  Health care reform legislation is likely to ma...
3    half-true  The economic turnaround started at the end of ...
4         true  The Chicago Bears have had more starting quart...
  Rating                                          Statement
0      0  When did the decline of coal start? It started...
1      0  Hillary Clinton agrees with John McCain "by vo...
2      0  Health care reform legislation is likely to ma...
3      1  The economic turnaround started at the end of ...
4      1  The Chicago Bears have had more starting quart...

In [24]:
#writing clean datasets :)

liar_dev.to_csv('clean datasets/liar_dev_clean.csv',index=False)
liar_train.to_csv('clean datasets/liar_train_clean.csv',index=False)
liar_test.to_csv('clean datasets/liar_test_clean.csv',index=False)

#PHEW, ALl DATASETS ARE CLEANED AND CONSISTENT

In [25]:
#merging of datasets
filenames = ['clean datasets/liar_dev_clean.csv','clean datasets/liar_test_clean.csv','clean datasets/liar_train_clean.csv','clean datasets/nf_train_clean.csv','clean datasets/nf_test_clean.csv','clean datasets/pol_dev_clean.csv','clean datasets/pol_test_clean.csv','clean datasets/pol_train_clean.csv']
combined_csv = pd.concat( [ pd.read_csv(f) for f in filenames ],sort=True )
combined_csv.to_csv( "Megaset.csv", index=False )

In [28]:
#FINAL DATASET STATS

megaset=pd.read_csv('Megaset.csv')
print("Megaset size",megaset.size)
print("Megaset : ",megaset.head())
print("Columns : ",megaset.columns)

t=0
f=0
for i in megaset.Rating:
    if i==1:
        t=t+1
    else:
        f=f+1
print("Number of true statements : ",t)
print("Number of false statements : ",f)

Megaset size 70628
Megaset :     Rating                                          Statement
0       0  When Obama was sworn into office, he DID NOT u...
1       0  Says Having organizations parading as being so...
2       0     Says nearly half of Oregons children are poor.
3       1  On attacks by Republicans that various program...
4       0  Says when armed civilians stop mass shootings ...
Columns :  Index(['Rating', 'Statement'], dtype='object')
Number of true statements :  18814
Number of false statements :  16500

In [29]:
megaset.describe()

             Rating
count  35314.000000
mean       0.532763
std        0.498932
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000